section.approch
    .container
        .title
            h2.title__header Our Approch 
            span.title__text  Our approches step by step ( how we do it )

        ul.approch__list
            li.approch__item
                figure.approch__image
                    img.approch__picture(src="images/step-1.jpg", alt="foto")
                    .approch__step step
                .approch__text
                    h4.approch__title Step 1 : Heading Here
                    p.approch__description Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled.
            li.approch__item
                figure.approch__image
                    img.approch__picture(src="images/step-2.jpg", alt="foto-2")
                    .approch__step step
                .approch__text
                    h4.approch__title Step 2 : Heading Here
                    p.approch__description Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled.
            li.approch__item
                figure.approch__image
                    img.approch__picture(src="images/step-3.jpg", alt="foto-3")
                    .approch__step step
                .approch__text
                    h4.approch__title Step 3 : Heading Here
                    p.approch__description Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled.
            li.approch__item
                figure.approch__image
                    img.approch__picture(src="images/step-4.jpg", alt="foto-4")
                    .approch__step step
                .approch__text
                    h4.approch__title Step 4 : Heading Here
                    p.approch__description Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled.


            