footer.footer
    .footer__top
        .container
            .footer__title Get in touch
            .footer-links
                a.footer__social(href="http://facebook.com", target="_blank", )
                    i.fa.fa-facebook(aria-hidden="true")
                    span.visually-hidden facebook-official,twitter,google-plus,linkedin
                a.footer__social(href="http://twitter.com", target="_blank", )
                    i.fa.fa-twitter(aria-hidden="true")
                     span.visually-hidden facebook-official,twitter,google-plus,linkedin
                a.footer__social(href="http://google.com", target="_blank", )
                    i.fa.fa-google-plus(aria-hidden="true")
                     span.visually-hidden facebook-official,twitter,google-plus,linkedin
                a.footer__social(href="http://linkedin.com", target="_blank", )
                    i.fa.fa-linkedin(aria-hidden="true")
                    span.visually-hidden facebook-official,twitter,google-plus,linkedin
            .footer__text Subscribe to our newsletter to stay update with what is new
            form(action="#", method="post")
                .footer__field: input.footer__input(type="email", placeholder="Email Addres")
                button(type="submit").button Subscribe

    .footer__bottom 
        .footer__copy Cssauthor.com &copy; 2014 All Rights Reserved