section.form-section
    .container
        .title.title__form
            h2.title__header Get Your Free Facebook Analysits Now 
            span.title__text  Enter your details below
            button.btn-down: a.arrow-down: i.fa.fa-angle-down
        .form__container
            form(action="#", method="post").form
                .form__close-button x
                p.form-text Sit down with our experts to receive a free customized marketing plan for your business + Learn How To Use Google and Facebook to get 5000% ROI or more
                .form__fields
                    input.form__input(type="text", placeholder="You Name")
                    input.form__input(type="text", placeholder="Contact Number")
                    input.form__input(type="text", placeholder="Contact Name")
                button(type="submit").button.button--red.button--text-uppercase Submit now