section.hero
    .container
        .hero--title--block
            p.hero__text We Providing 
            h1.hero__title__text Social Media marketing for businesses
            button.button.button--yellow.button--text-uppercase FREE CONSULTATION
