nav.nav
    ul.menu
        li.menu__link
             a.menu__link__item.menu__link__item--active(href="#") Home
        li.menu__link
             a.menu__link__item(href="#") About Us
        li.menu__link 
            a.menu__link__item(href="#") Our Approch
        li.menu__link  
            a.menu__link__item(href="#") Our Work