section.work
    .container
        .title.title--with-bottom-line
            h2.title__header Our Work
            span.title__text We are added our featured works below
        ul.work__list
            li.work__item.work__item--name
                span.work__name Project Name
                span Facebook marketing
            li
                figure.work__item: img.work__picture(src="images/work-1.jpg", alt="foto-work-1")
            li.work__item.work__item--name
                span.work__name Project Name
                span Landing page
            li
                figure.work__item: img.work__picture(src="images/work-2.jpg", alt="foto-work-2")
            li
                figure.work__item: img.work__picture(src="images/work-3.jpg", alt="foto-work-3")
            li.work__item.work__item--name
                span.work__name Project Name
                span Landing page
            li
                figure.work__item: img.work__picture(src="images/work-4.jpg", alt="foto-work-4")
            li.work__item.work__item--name
                span.work__name Project Name
                span Facebook marketing
            
